<h1><%= @category.title_tk %></h1>
<h1><%= @category.title_en %></h1>
<h1><%= @category.title_ru %></h1>


<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Destroy", category_path(@category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Add a product:</h2>
<%= render "products/form" %>

<h2>Products</h2>
<%= render @category.products %>
