<% unless product.archived? %>
  <p>
    <strong>Title</strong>
    <%= product.title_tk %>
    <%= product.title_en %>
    <%= product.title_ru %>
  </p>
  <p>
    <strong>Description</strong>
    <%= product.description_tk %>
    <%= product.description_ru %>
    <%= product.description_en %>
  </p>
  <p>
    <%= link_to "Destroy Product", [product.category, product], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </p>
<% end %>
